.Wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    background-color: rgba(127, 255, 212, 0.57);
    height: auto;
    width: 700px;
    padding: 15px;
    overflow: auto;
}

