.MainHeader{
  display: flex;
  justify-content: space-around;
  background-color: lightgreen;
  align-items: center;
  height: 100px;
}

.MainHeader img {
  height: 100px;
}
  
.login{
  text-decoration: none;
  color: #f06050;
font-weight: bold;
}
